mixin createPostForm(userLoggedIn)
    div.postFormContainer
        div.userImageContainer
            img(src=userLoggedIn.profilePic, alt="User profile picture")
        div.textareaContainer 
            textarea#postTextarea(placeholder="what's happening?")
            div.buttonContainer 
                button#submitPostButton(disabled='') Post
mixin createReplyModal(userLoggedIn)
    #replyModal.modal(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                        #originalPostContainer
                        div.postFormContainer
                            div.userImageContainer
                                img(src=userLoggedIn.profilePic, alt="User profile picture")
                            div.textareaContainer 
                                textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled='') Reply
mixin createDeletePostModal()
    #deleteModal.modal(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Delete the post?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p You won'nt be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete
mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? 'following' : 'follow'
    - buttonClass = isFollowing ? 'followButton following' : 'followButton'
    button(class=buttonClass, data-user=user._id) #{text}
mixin createTab(name, href, isSelected)
    - className = isSelected ? 'tab active' : 'tab'
    a(href=href class=className)
        span #{name}